<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
            <!--Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap.min.css" type="text/css"/>
        <!--Jquery UI CSS-->
    <link rel="stylesheet" href="/vendor/jquery-ui.min.css" type="text/css"/>

    <!--Layout CSS-->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!--Nav CSS-->
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
     <!--Input CSS-->
    <link rel="stylesheet" href="/styles/input.css" type="text/css" />
         <!--List CSS-->
    <link rel="stylesheet" href="/styles/list.css" type="text/css" />


    <!--JQuery JS-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!--JQuery UI JS-->
    <script type="text/javascript" src="/vendor/jquery-ui.min.js"></script>

            <!--Bootstrap JS-->
    <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
    <!--App JS-->
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
     <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        Smart Todo
      </div><!--Navbar Header-->

      <nav class="collapse navbar-collapse" id="bs-navbar">
        <button type="button" class="btn btn-default navbar-btn navbar-right">Sign out</button>
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Prachi Singh</a></p>
      </nav>
    </div>
  </nav>

  <div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="What do you want to do?">
      <span class="input-group-btn">
        <button class="btn btn-default add" type="button">Add to list</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-3"></div>
</div><!-- /.row -->
<div class="row"><div class="col-lg-12"></div></div>
<div class="row">
  <div class="col-lg-3">
  <div class="list-heading">Movies</div>
    <ul id="list-group1" class="sorted movies">
      <li class="list-group-item"> Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
  <div class="col-lg-3">
  <div class="list-heading">Products</div>
    <ul id="list-group2" class="sorted products">

        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
    <div class="col-lg-3">
      <div class="list-heading">Books</div>
        <ul id="list-group3" class="sorted books">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
  </div>
    <div class="col-lg-3">
    <div class="list-heading">Restaurants</div>
        <ul id="list-group4" class="sorted restaurants">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
      </ul>
  </div>
</div>
  </body>
</html>
