
#myModal {
      background-color: #394d64;

  .modal-content {
        background-color: #5f7080;

  .modal-header {
    color: #e8e8e8;
    .modal-title {
      color: #68cdef;
    }
  }
  .modal-body {
    .body-text {
        color: #e8e8e8;

        h4 {
/*          color: #e8e8e8;
          font-style: bold;*/
           color: #e77e1d;
        }

        span {
          font-size: 1.1em;
          color: #e8e8e8;
        }
      /*.glyphicon.glyphicon-pencil {
        float: right;
        opacity: 0.6;
      }*/
    }

    .link {
       h4 {
           color: #e77e1d;
/*         color: #e8e8e8;
        font-style: bold;*/
        }
           a {
          font-size: 1.1em;
          color: #68cdef;
          text-decoration: underline;
        }
    }
/*.edit-input {
display:none;
}*/
  }
  .btn-primary {
    background-color: #e77e1d;
    color: #e8e8e8;
  }
}
}
