
#myModal {
      background-color: #394d64;

  .modal-content {
        background-color: #5f7080;

  .modal-header {
    color: #e8e8e8;
  }
  .modal-body {
    .body-text {
        color: #e8e8e8;
      .glyphicon.glyphicon-pencil {
        float: right;
        opacity: 0.6;
      }
    }
  .edit-input {
    display:none;
}
  }
  .btn-primary {
    background-color: #e77e1d;
    color: #e8e8e8;
  }
}
}
