
$brand-color: #82D2D8;

body {
  .navbar.navbar-default {
    border-bottom: 3px solid $brand-color ;
    .container-fluid {


      .navbar-header {
        font-size: 2em;
        color: #53b5bc;
        font-style: bold;
        line-height: 60px;
      }
  button {
      margin-top:13px;
        }
      .navbar-text.navbar-right{
        margin-right: 16px;
        line-height: 30px
      }
    }
  }
}
